@import '~css-utils/index.styl'

.z-field
.z-field *
    box-sizing border-box

.z-field
    align-items stretch
    display inline-flex
    @extend .u-flex-row

    &.z-invalid
        border 1px solid red

    .z-clear-tool
        align-self center
        @extend .u-unselectable

    input
        flex 1
        border 0
        outline none

        &::-ms-clear
            display none